<p>profile works!</p>
<!-- Creating the nav bar at the top -->

<nav class="navbar navbar-inverse navbar-fixed-top" style="height: 10%;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" arial-expanded="false"
            arial-controls="navbar">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </div>
    </div>
</nav>