<!-- <p>profile works!</p> -->
<!-- Creating the nav bar at the top -->

<!-- <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 10%;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" arial-expanded="false"
            arial-controls="navbar">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </div>
        <a style="list-style: none;" class="navbar-brand" href="#">
        </a> 
    </div>
</nav> -->
<!--Profile and location on the Panel-->
<form>
    <!-- <div id="navbar" class="collapse navbar-collapse">
        <a style="list-style: none;" class="navbar-brand" href="#">
          <li>
            <img id="anim" src="assets/images/duck.gif" alt="github image" height="80" width="80" style=" margin-top: -20%;">
          </li>
        </a>

        <ul class="navbar-nav">
          
            <li><form action=""><div class="form-group"><input type="text" style="margin-top: 7%;  width: 130%; height: 15%;background-color: rgb(70, 68, 68); border: none; color: ghostwhite;" class="form-control header-search-input jump-to-field js-jump-to-field js-site-search-focus  " placeholder="search or jump to" [(ngModel)]="username" name="username"  (keyup.Enter)="findProfile()"></div></form></li>
        </ul>
    </div> -->
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="Search git users with username">
    </div>

</form>
<div class="container">
<div class="profile">
    <div style="margin-top: 10%;" class="panel panel-default">

        <div class="panel-heading">
            {{profile.name}}, <small>{{profile.login}}</small>,
            {{profile.location}}
        </div>
    </div>

    <!--following, public gist, Followers, Following -->
    <div class="panel-body">

        <div class="row">
          <div class="col-md-4">
            <img src="{{profile.avatar_url}}" class="img-thumbnail github-avatar" alt="Profile Image">
          </div>
          <div class="col-md-8">
            <div class="start">
                <span class="btn btn-danger" id="fol">{{profile.followers}} Followers</span>
                <span class="btn btn-success" id="foll">{{profile.following}} Following</span>
                <span class="btn btn-success" id="gis">{{profile.public_gists}} public</span>
                <span class="btn btn-success" id="rep">{{profile.public_repos}} public repos</span>
             </div>  
                <br>
  
            <!-- Content With User-info -->
  
              <ul class="list-group">
                  <li *ngIf="profile.login" class="list-group-item"><strong>Username:</strong> {{profile.login}}</li>
                  <li *ngIf="profile.location" class="list-group-item"><strong>Location:</strong> {{profile.location}}</li>
                  <li *ngIf="profile.email" class="list-group-item"><strong>Email:</strong> {{profile.email}}</li>
                  <li *ngIf="profile.bio" class="list-group-item"><strong>Bio:</strong> {{profile.bio}}</li>
                  <li *ngIf="profile.created_at" class="list-group-item"><strong>Member Since:</strong> {{profile.created_at}}</li>
              </ul>
  
            <!-- Collapse Content With User-info -->
  
            </div>
          </div>
  
<!-- REPOSITORIES -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Repositories</h3>
            </div>
        <div class="panel-body">
            <div class="row">
                    <!-- Looop To Display Repos -->
                    <div class="col-md-12">
                        <div *ngFor="let repo of repos">
                            <div class="row">
                                
                                <!-- Div To Display Repositories -->
                                <div class="col-md-9">
                                    <!-- Repo Name -->
                                    <h3>{{repo.name}}</h3>
                                    <!-- Repo Description -->
                                    <p>{{repo.description}}</p>
                                    <!-- View on Github Button -->

                                    <h4><a href="{{repo.html_url}}" target="_blank">Check on github</a></h4>
                                </div>
                                <div class="col-md-3">
                                    <span class="label label-default">{{repo.watchers}} Stars </span>
                                    <span class="label label-primary">{{repo.forks}} Forks </span>
                                </div>

                            </div>
                            <hr>
                        </div>
                    </div>
            </div>
        </div>
    </div>


      </div>

    </div>
</div>
  